body {
    margin: 50px;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.header {
    grid-area: header;
}
.container {
    display: grid;
    grid-area: 10px;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas: 
    "....... header header"
    "sidebar content content"
    "footer footer footer";
    background-color: #ffff;
    color: #456;
}
.area {
    color: #ffff;
    background-color: #456;
    padding: 20px;
    font-size: 15%;
    border-radius: 5px;
}
.header {
    background-color: red;
}
.footer {
    grid-area: footer;
    background-color: red;
}
